streamlit
langchain==0.1.20
langchain-community==0.0.38
langchain-core==0.1.52
langchain-text-splitters
langchain-groq
faiss-cpu
sentence-transformers
pypdf
huggingface-hub
torch==2.2.2
transformers==4.41.2